@charset "utf-8";
/* CSS Document */

#sessionTxt { width:380px; height:392px; padding:10px; margin-right: auto; margin-left: auto; background-image:url('../images/diva_sjam.jpg');
border-top-right-radius: 9px; border-bottom-right-radius: 9px; border-bottom-left-radius: 9px; border-top-left-radius: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomright: 9px; -moz-border-radius-bottomleft: 9px; -moz-border-radius-topleft: 9px; -webkit-border-top-right-radius: 9px; -webkit-border-bottom-right-radius: 9px; -webkit-border-bottom-left-radius: 9px; -webkit-border-top-left-radius: 9px; }
#twitter {width:400px; margin-top:20px; margin-right: auto; margin-left: auto; font:15px Helvetica,Arial,sans-serif; background-color:#4b4b4c; padding-top:10px;
border-top-right-radius: 9px; border-bottom-right-radius: 9px; border-bottom-left-radius: 9px; border-top-left-radius: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomright: 9px; -moz-border-radius-bottomleft: 9px; -moz-border-radius-topleft: 9px; -webkit-border-top-right-radius: 9px; -webkit-border-bottom-right-radius: 9px; -webkit-border-bottom-left-radius: 9px; -webkit-border-top-left-radius: 9px;}
#gallery {width:500px; height:400px; margin-left: auto; margin-right: auto; padding:10px; background-color:black;}
#down {width:450px; height:180px;  margin-left:auto; margin-right:auto; margin-top:550px; background: rgba(255,0, 0, 0.4); border:1px solid black; padding:10px;
border-top-right-radius: 9px; border-bottom-right-radius: 9px; border-bottom-left-radius: 9px; border-top-left-radius: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomright: 9px; -moz-border-radius-bottomleft: 9px; -moz-border-radius-topleft: 9px; -webkit-border-top-right-radius: 9px; -webkit-border-bottom-right-radius: 9px; -webkit-border-bottom-left-radius: 9px; -webkit-border-top-left-radius: 9px;}
#videoheader { width:348px; height:78px; padding:5px; margin-left:auto; margin-right:auto; margin-top:0px; margin-bottom:6px; background: rgba(0,0, 255, 0.4); border:1px solid black; 
border-top-right-radius: 9px; border-bottom-right-radius: 9px; border-bottom-left-radius: 9px; border-top-left-radius: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomright: 9px; -moz-border-radius-bottomleft: 9px; -moz-border-radius-topleft: 9px; -webkit-border-top-right-radius: 9px; -webkit-border-bottom-right-radius: 9px; -webkit-border-bottom-left-radius: 9px; -webkit-border-top-left-radius: 9px;} 
#video {margin-bottom:30px;} 
#starter {  background-image: url('../images/divableu.jpg');    		
   			background-size:cover;  
			height:100%px;}
#portraitcontent {
			background-image: url('../images/divaredleft.jpg');    		
   			background-size:cover;  
			height:100%px;
}
#gallerymaincontent {
			background-image: url('../images/esplanad1.jpg');    		
   			background-size:cover;  
			height:100%px;
}
#videoseitecontent {
			background-image: url('../images/stiefel.jpg');    		
   			background-size:cover;  
			height:100%px;
}

#map {
			background:black;
			background-size:cover; 
			background-image: url('../images/smvid.jpg');    	   			
			height:100%px;
}
#sessionseitecontent {
			height:100%;	
}
#memberform {
	        margin-top:15px;
			margin-right: auto;
			margin-left:auto;
			padding:10px;
			width:450px;
			border:1px solid white;
}
#results {
			width:250px;
			height:15px;
			margin-left:auto;
			margin-right:auto;
			padding-top:3px;
			font:12px Helvetica,Arial;
			background:#313131;	
}
.gmap { height: 100%; width: 100%; margin: 0px; padding: 0px }
[data-role=footer]{bottom:0; position:absolute; top: auto; width:100%;} 
#footer1 a {
	 font: bold 17px Helvetica,Arial;
	 color: white;
	 text-decoration: none;
}